/* Make the image fully responsive */
.carousel-inner img {
width: 100%;
height: 100%;
        }

#footer{
    background-color:#000;
    width: 100%;
    height: 200px;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
}


#header img{
     
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

